
@font-face {
    font-family: "Shrikhand";
    src: url("../font/shrikhand/Shrikhand-Regular.ttf");
    src: url("../font/shrikhand/Shrikhand-Regular.oet");
    src: url("../font/shrikhand/Shrikhand-Regular.otf");
    src: url("../font/shrikhand/Shrikhand-Regular.svg");
    src: url("../font/shrikhand/Shrikhand-Regular.woff");
}
@font-face {
    font-family: "Roboto";
    src: url("../font/roboto/Roboto-Regular.eot");
    src: url("../font/roboto/Roboto-Regular.ttf");
    src: url("../font/roboto/Roboto-Regular.woff");
    src: url("../font/roboto/Roboto-Regular.svg");
    src: url("../font/roboto/Roboto-Regular.otf");
}

body
{
    margin : 0; 
    overflow-x: hidden;
    
}
h1{
    @include title;
    padding-top: 30px;
    padding-left: 22px;
    @include ordi
    {
        font-size: 35px;
    }
}
h2{
     
    font-size: 22px;
    margin : 10%; 
    @include font-roboto;padding-right: 0px;
    @include ordi

}
h3{
    @include font-roboto; 
    font-size : 18px;
}

img
{
    width : 100%; 
}
p
{
    font-size: 15px;
    @include font-roboto; 
}





