.form__btn
{
    @include btn; 
}
.OhMyFood
{
    @include title;
    color : white;
    margin: 0;
    padding-left: 30px;
    font-size: 15px;
    padding-top: 30px;
    padding-bottom: 15px;
}
input
{
    width: 100%;
    height: 45px;
    border: none;
    background-color: darken($fourth-color,5%);
    text-align: center;
}
.fa-map-marker-alt
{
    position: absolute;
    top: 15%;
    left: 31%;
    font-size: 14px;
}
.fa-heart
{
    font-size: 25px;
}
.fa-utensils 
{
    color : white;
    margin-right: 12px;
}
.fa-hands-helping{
    color : white;
    margin-right: 7px;
}
.nouveau
{
    position: absolute;
    width: 30%;
    height: 44px;
    background-color: $tertiary-color;
    color : darken($tertiary-color, 40%);
    border-radius: 5px;
    top: 5%;
    left: 66%;
    text-align: center;
}

.form__commande
{
    margin-left : 0;
    padding-right: 25px;
    padding-left: 25px;
}
.fa-arrow-left
{
    font-size: 20px;
}
.img__size
{
   margin : 0;
   height: 200px;
   overflow: hidden;
}
.coeur
{
    margin-top: 100%;
}