.form__btn
{
    @include btn; 

    @include tablette
    {
        font-size: 16px;
        width: 20%;
        height: 60px;
        margin-left: 42%;
        margin-top: 10%;
    }

    @include ordi
    {
        font-size: 20px;
        width: 20%;
        height: 60px;
        margin-left: 40%;
        margin-top: 10%;
    }
}
.form__btn:hover
{
    @include ordi
    {
    opacity:.7;
    transition : opacity 1s;
    box-shadow: 2px 9px 5px -4px darken($fourth-color,20%);
    }
}
.form__btn:active
{
    @include mobile
    {
        opacity:.7;
        transition : opacity 1s;
        box-shadow: 2px 9px 5px -4px darken($fourth-color,20%);
    }
    @include tablette
    {
        opacity:.7;
        transition : opacity 1s;
        box-shadow: 2px 9px 5px -4px darken($fourth-color,20%);
    }
}
.OhMyFood
{
    
    @include title;

    color : white;
    margin: 0;
    padding-left: 30px;
    font-size: 15px;
    padding-top: 30px;
    padding-bottom: 15px;
    @include tablette
    {
        font-size: 25px;
        padding-top: 4%;
    }
    @include ordi
    {
        font-size: 30px;
        padding-top: 4%;
        padding-bottom: 2%;
    }

}
input
{

    width: 100%;
    height: 45px;
    border: none;
    background-color: darken($fourth-color,5%);
    text-align: center;
    @include tablette{
        height: 70px;
    }
    @include ordi
    {
        height: 80px;

    }

}
.fa-map-marker-alt
{

    position: absolute;
    top: 33%;
    left: 31%;
    font-size: 14px;

    @include tablette
    {
        top: 41%;
        left: 41%;
    }
    @include ordi 
    {
        top: 42%;
        left: 43%;
    }
}
.animation-container
{
    position : relative;
}
.coeur{
    position : absolute; 
    z-index : 1;
}
.little-heart
{
    position: absolute;
    text-align: center;
    bottom: -38px;
    color : $fourth-color;
    @include ordi
    {
        font-size: 40px;
    }
    @include tablette{
        font-size: 30px;
        top: 1px;
    @include mobile
    {
        font-size: 21px;
        top: 2px;
        left: -18px;
    }
    }
}
.animation-container:hover .little-heart
{
    @include ordi
    {
    animation : .5s coeur ease-in-out;
    background:-webkit-linear-gradient($primary-color, $secondary-color);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
    font-weight: bold;
    }
}
.animation-container:active .little-heart
{
    @include mobile
    {
        animation : .5s coeur ease-in-out;
        background:-webkit-linear-gradient($primary-color, $secondary-color);
        background-clip:text;
        -webkit-background-clip:text;
        color:transparent;
        font-weight: bold;
        top: 2px;
        left: -18px;
    }
    @include tablette
    {
        animation : .5s coeur ease-in-out;
        background:-webkit-linear-gradient($primary-color, $secondary-color);
        background-clip:text;
        -webkit-background-clip:text;
        color:transparent;
        font-weight: bold;
    }
}

@keyframes coeur
{
    0%
    {
       transform:translateY(15px);
       opacity : 0;
    }
    100%
    {
        transform:translateY(0px);
        opacity: 1;
    }
}

.fa-utensils 
{
    @include mobile
    {
    color : white;
    margin-right: 12px;
    }
}
.fa-hands-helping
{
    @include mobile
    {
    color : white;
    margin-right: 7px;
    }
}
.nouveau
{
    
    position: absolute;
    width: 30%;
    height: 44px;
    background-color: $tertiary-color;
    color : darken($tertiary-color, 40%);
    border-radius: 5px;
    top: 5%;
    left: 66%;
    text-align: center;
  

}

.fa-arrow-left
{
    @include mobile
    {
    font-size: 20px;
    }
    @include tablette
    {
        font-size: 30px;
    }
    @include ordi
    {
        font-size: 35px;
    }
}
.img__size
{
      
    @include tablette{
        margin: 0;
        height: 500px;
        overflow: hidden;
    }
    @include mobile
    {
        margin : 0;
        height: 200px;
        overflow: hidden;
    }
    @include ordi
    {
        margin : 0;
        width: 100%;
        height: 700px;
        overflow : hidden;

    }
}
.coeur
{

    margin-top: 100%;
    @include ordi{
        font-size: 40px;
        margin-top: 65%;
    }
    @include tablette
    {
        font-size: 30px;
    }
    @include mobile
    {
        font-size: 20px;
        right: 0;
    }

}




