.header{

    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include ordi
  {
    margin-right: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  @include tablette
  {
    
    padding-right: 16%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  @include mobile
  {
    margin-right: 35%;
    margin-top: 3%;
    margin-bottom: 2%;
  }


  &__logo {
    @include mobile
    {
    width: 150px;
    margin-left: 26%;
    margin-top: 5%;
    margin-bottom: 5%;
    }

}
}

  footer
  {
    
    background-color: #232623;
    line-height: 0px;
    padding-bottom: 10px;
    
  }
  footer a 
  {
    @include color-adapt(#232623);
  }

li{

  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 28px;
  padding-left: 7%;
  @include ordi{
    padding-left : 5%;
  }

}
  nav ul{
    list-style: none;
    
  }
  a{
    text-decoration: none;
    @include color-adapt(white);
  }

.section
{
  background-color: $fourth-color;
  position: relative;
  border-radius: 47px;
  top: -50px;
}

.boite
{
  background-color: white;
  border-radius: 20px;
  margin-left: 5%;
  display: flex;
  padding-top: 0px;
  height: 90px;
  margin-bottom: 20px;
  position : relative;
  overflow: hidden;
  padding-left: 3%;
  @include mobile
  {
    width: 88%;
  }
  @include tablette{
    margin-left: 6%;
    padding-right: 2%;
  }
  @include ordi
  {
    width: 300px;
    padding-right: 5%;
  }
  &__1
  {
    animation : 2s part ease-in-out;
  }
  &__2
  {
    animation : 2.5s part ease-in-out;
  }
  &__3
  {
    animation : 3s part ease-in-out;
  }
  &__menu
  {  
    white-space: nowrap;
    flex: 1;
 
    @include mobile
    {
      width: 78%;
      padding-top: 20px;
      line-height: 24px;
    }
    @include ordi{
      line-height: 28px;
      padding-top: 5%;
    }
    @include tablette
    {
      padding-top: 19px;
      line-height: 25px;
    }
  }
  &__prix
  {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
 
    @include mobile
    {
    margin: 0;
    }
  }
&__verte
{
  position: absolute;
  width: 80px;
 height: 90px;
 background: $tertiary-color;
//  display: flex;
//  flex-direction: row;
//  justify-content: right;
//  align-items: center;
 right: -85px;
 @include mobile
 {
  width: 70px;
 }

}
}
.boite:hover .boite__verte
{
  animation: transform 300ms ease-in-out;
  transform: translateX(-85px);
  transition: 1s;

}
.boite:hover .boite__prix
{
  animation: 1s decal-gauche ease-in-out;
  animation-fill-mode: forwards;
}
.boite:hover .boite__menu
{
  width: 63%;
}
.text-elipsis
{
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
width: 99%;
}

@keyframes decal-gauche
{
  from
  {
    padding-right: 0px;
  }
  to
  {
    padding-right: 85px;
  }
}

@keyframes part
{
  0%
  {
    transform : translateY(20px);
    opacity: 0; 
  }
  100%
  {
    transform: translateY(0px);
    opacity: 1;
  }
}
main
{
  background-color: $fourth-color;
  border-radius: 20px;

}
.titre1
{
 
  display: flex;
  align-items : center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 35px;

}
.titre2
{
  @include titre2;
  margin : 0;
  margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 5%;
}
.groupe
{
  display: flex;
  flex-direction: row;
  @include mobile{
    flex-direction: column;
  }
  @include tablette{
    flex-direction: column;
  }
}
.box-column
{
  @include ordi;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 4%;
  @include mobile
  {
    display: flex;
    flex-direction: column;
    margin-right: 0;
  }
  @include tablette
  {
    display: flex;
    flex-direction: column;
  }

}
.box-flex
{
  @include ordi;
  display: flex;
  flex-direction: column;
 
}
.text-bold
{
  font-weight: bold;
  color : lighten(white, 10%);
}





