
.en-tete
{
    border-bottom : 3px solid  darken($fourth-color, 10%);
    text-align: center;
    @include tablette
    {
        border : none;
        margin-top: 4%;
        margin-bottom: 2%;
    }
    @include mobile
    {
        margin-top : 0;
    }
}
.logo
{
    margin-left : 0px;
    width: 50%;
    @include ordi
    {
        width: 30%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
}

.title
{
    text-align: center; 
    margin-bottom: 4%;
    @include tablette
    {
        font-size: 30px;
    }
    @include ordi
    {
        margin-top: 4%;
        font-size: 35px;
    }
}
.paragraphe
{

    text-align: center;
    padding : 0; 
    @include tablette
    {
        font-size: 18px;
        margin-bottom: -2%;
    }
    @include ordi
    {
        font-size: 20px;
        margin-bottom: -4%;
    }
}

.menu
{
    display: flex;
    flex-direction: row;
    align-items : center; 
    margin-bottom: 3%;
    justify-content: center;
    &__number
    {

        margin-left: 10px;
        width: 30px;
        height: 30px;
        background-color: $primary-color;
        border-radius: 50%;
        text-align: center; 
        color : white; 
        @include font-roboto; 
        margin-right: 0px;
        z-index: 1;

        &--text
        {
            padding-top : 6px; 
            margin :0; 
        }
    }
        &__conteneur
        {
            margin-left: -2%;
            background-color: $fourth-color;
            display : flex; 
            align-items: center;
            padding-left: 20px;
            padding-right: 50px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 20px;
            width: 50%;
            @include ordi
            {
                margin-left: -1%;
            }
            @include tablette
            {
                margin-left : -1%;
            }
            
        }
        &__icone
        {
            
            padding-right: 10px;
            
        }

    }
.input
{
    
    position : relative;
    text-align : center;
    
}
.restaurant
{
    
    margin-bottom : 40px; 
    position: relative;
    border: 1px solid $fourth-color;
    box-shadow: 0px 2px 20px -10px;
    border-radius: 20px;
    margin-right: 5%;
    margin-left: 5%;

    @include ordi
    {
        width: 100%;
        
    }
    

    &__img
{
    
    width: 100%;
    height: 150px;
    margin :0; 
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px -6px 20px -10px;
    display: flex;
    align-items: center;
    @include tablette
    {
        height: 250px;
        
    }
    @include ordi
    {
        width: 100%;
        height: 200px;
    }
    
}
    &__conteneur
    {
        
        line-height: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        
       
    }
}
.groupe-restaurant
{
    display: flex;
    flex-direction: row;
    @include mobile
    {
        flex-direction: column;
    }
    @include tablette
    {
        flex-direction: column;
    }
}
.titre-index
{
    @include ordi
    {
    margin : 0;
    margin-top : 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    font-size: 30px;
    }
}
.load
{
  display: flex;
  flex-direction: row;
  margin-right: 2%;
  padding-left : 40%;
  margin-top : 20%;
  @include mobile
  {
  margin-left: -12%;
  padding-left: 30%;
  margin-top : 70%;
  }
  @include tablette
  {
    padding-left: 35%;
  }

&__1
{
border : 2px solid $primary-color;
width : 50px;
height : 50px;
border-top-right-radius: 10px;
  background-color :$primary-color;
animation : 1s loading  ease-in-out;
animation-fill-mode: forwards;
margin-right: 10%;
@include mobile
{

}
}
&__2
{
border : 2px solid $secondary-color;
border-top-right-radius: 10px;
width : 50px;
height : 50px;
  background-color : $secondary-color;
  animation : 1s loading  ease-in-out;
  animation-delay : 1s;
  animation-fill-mode: forwards;
  margin-right: 10%;
  @include mobile
{

}
}
&__3
{
border : 2px solid $tertiary-color;
border-top-right-radius: 10px;
width : 50px;
height : 50px;
  background-color : $tertiary-color;
  animation : 1s loading  ease-in-out;
  animation-delay : 2s;
  animation-fill-mode: forwards;
  margin-right: 10%;
  @include mobile
{

}
}
}

.index
  {
    animation: 3s accueil ease-in-out;
    margin-top : -23%;
    @include mobile
    {
        margin-top: -86%;
    }
   }


   @keyframes accueil
   {
     0%
     {
       opacity: 0;
     }
     50%
     {
       opacity: 0;
     }
     90%
     {
       opacity: 0;
     }
     100%
     {
       opacity: 1;
     }
   }


@keyframes loading
{
0%
{
  transform : rotate(0deg);
  opacity: 1;

}
100%
{
  transform : rotate(360deg);
  opacity: 0;
}
}
.indexHeart
{
    top: -19px;
    bottom: 0px;
}
.indexLittleHeart
{
    bottom: -21px;
    top: -17px;
    @include mobile
    {
        left: -18px;
        top: -17px;
    }
}