$primary-color : #9356DC; 
$secondary-color : #FF79DA; 
$tertiary-color : #99E2D0; 

@mixin font-roboto {
    font-family: "Roboto";
  }
@mixin title
{
    font-family: "Shrikhand";
}
@mixin btn 
{
    background: linear-gradient( $secondary-color ,$primary-color);
    border-radius: 20px;
    height: 45px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    @include font-roboto; 
    border: 1px solid gray;
    box-shadow: 0px 3px 10px gray; 
    margin-left: 20%;
    margin-top: 5%; 
}

