$primary-color : #9356DC; 
$secondary-color : #FF79DA; 
$tertiary-color : #99E2D0; 
$fourth-color : #F2F2F2; 

@mixin font-roboto {
    font-family: "Roboto";
  }
@mixin title
{
    font-family: "Shrikhand";
}
@mixin btn 
{
    background: linear-gradient( $secondary-color ,$primary-color);
    border-radius: 20px;
    height: 45px;
    color: white;
    @include font-roboto; 
    border: none;
    box-shadow: 2px 9px 5px -4px darken($fourth-color,10%);
    margin-top: 5%; 
    width: 53%;
}
@mixin titre2
{
    padding-right: 0px;
    width: 48px;
    margin-top: 10%;
    padding-top: 0%;
    padding-bottom: 1%;
    border-bottom : 3px solid $tertiary-color;
}

@mixin background
{
@if  (background-color :  #232623)
{
    color : white;
}
@else
{
    color : black; 
}
}


